<%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navigation') %>
    <main>
        <h3>Welkom op mijn woordenboekenwebsite!</h3>
        <br>
        <h4 class="titel">Hongaars - Nederlands</h4>
        <h5 >Filter op woorden met de letter(s) : </h5>
        <form action="/filter" method="POST">
            <input type="text" name="filterOpWoord" placeholder="woort">
        </form>
        <form action="/filter" method="POST">
            <input type="text" name="filterOpLes" placeholder="les" >
        </form>
        <br>
        <% const wo = []  %>
        <%  wsch.sort(function(a) { if (a.woord.includes(filterOpWoord)) {wo.push(a);}}) %>
        <%  wsch.sort(function(a) { if (parseInt(a.les) == filterOpLes) {wo.push(a);}}) %>
        <h5 class="aantal-woorden">Totaal aantal woorden: <%=  wo.length %></h5>
        <%  wsch.sort(function(a,b) { if (a.woord < b.woord) {return -1;} if (a.woord > b.woord) { return 1;} }) %>
        <% for (let i of wo) { %>
            <div class="container">
                <div class="row bg-info border border-dark rounded m-2">
                    <div class="col-2"></div>
                    <div class="col woord"><%= i.woord%></div>
                    <div class="col vertaling"><%= i.vertaling %></div>
                    <div class="col-2"><button class="btn btn-info "><h5>L<%= i.les %></h5></button></div>
                </div>
            </div>
        <% } %>
        <br>
        <h4>Nederlands - Hongaars</h4>
<%- include('./partials/end.ejs') %>
