<%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navigation') %>
    <main>
        <h3>Welkom op mijn woordenboekenwebsite!</h3>
        <br>
        <h4>Hongaars - Nederlands</h4>
        <br>
        <% for (let i of wsch) { %>
            <h3><%= i.woord%><span>    </span> <%= i.vertaling %></h3>
        <% } %>
        <br>
        <h4>Nederlands - Hongaars</h4>
<%- include('./partials/end.ejs') %>
