<%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/navigation') %>
    <main>
        <h3>Welkom op mijn woordenboekenwebsite!</h3>
        <br>
        <h4>Dit is het eerste woord: <%= woord %></h4>
        <br>
        <h4>De vertaling ervan luidt: <%= vertaling %></h4>
<%- include('./partials/end.ejs') %>
